<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Loteria do Cassino</title>
</head>
<body>
  <h1>Bem-vindo à loteria do cassino!</h1>

  <h2>Comprar Bilhete</h2>
  <form action="/comprar" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required>
    <br>
    <label for="numero">Número:</label>
    <input type="number" name="numero" id="numero" required>
    <br>
    <button type="submit">Comprar Bilhete</button>
  </form>

  <h2>Sortear Vencedor</h2>
  <form action="/sortear" method="get">
    <button type="submit">Sortear Vencedor</button>
  </form>


</body>
</html>
